#footer {
  background-color: var(--oratorio-blue-50);
  width: 100%;
  height: fit-content;
  padding: 10px;
  margin-top: 10px;
}

.logos-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  width: clamp(7.5rem, 5.8929rem + 8.0357vw, 18.75rem);
  justify-self: center;
  gap: 30px;
}

.card {
  width: 100%;
}
