<div class="div" id="footer">
  <div class="logos-container">
    <div class="card" id="logoOratorio">
      <img src="../../../assets/oratorioSVG.svg" alt="Oratorio PerDiQua" />
    </div>
    <div class="card" id="logoLeone">
      <img src="../../../assets/logoLeoneSVG.svg" alt="Il Re Leone CDC" />
    </div>
  </div>

  <div class="cards">
    <div class="card-meta">
      <div class="card-info" id="card-oratorio">
        <h2 id="oratorio" class="rubik-black-italic">Oratorio PerDiQua</h2>
        <h3 id="cdc">Città di Castello</h3>
        <p id="address">Via Maria Mattia Pierini n.5, Cerbara, 06012</p>
        <p id="hours">Lun-Ven 14:00-18:30</p>
      </div>
    </div>
    <div class="card-meta">
      <div class="card-info" id="card-leone">
        <h2 id="releone" class="rubik-black-italic">Il Re Leone CDC</h2>
        <h3 id="musical">Il Musical</h3>
        <p>
          Questo spettacolo è una libera reinterpretazione amatoriale ispirata
          all’opera originale “The Lion King” prodotta da Disney, sotto la regia
          di Julie Taymor. Non è in alcun modo affiliato, autorizzato o
          approvato dalla Disney o dai detentori dei diritti dell’opera
          originale. Tutti i diritti sui personaggi, le musiche e la storia
          originale appartengono ai rispettivi titolari.
        </p>
      </div>
    </div>
  </div>

  <div class="footer-end">
    <div class="copyright">
      <p>
        &copy; 2025 Oratorio PerDiQua, Il Re Leone CDC - Il Musical. <br />
        Tutti i diritti riservati. <br />
        <span style="font-size: smaller">Powered by Angular</span>
      </p>
    </div>

    <div class="social-media">
      <a
        href="https://www.facebook.com/oratorioperdiqua"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Facebook Oratorio PerDiQua"
      >
        <i class="fa-brands fa-facebook fa-2xl" style="color: #3b5998"></i
      ></a>
      <a
        href="https://www.instagram.com/oratorioperdiqua/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram Oratorio PerDiQua"
      >
        <i
          class="fa-brands fa-instagram fa-2xl"
          style="color: var(--oratorio-red-500)"
        ></i>
      </a>
      <a
        href="https://www.instagram.com/ilreleone.cdc/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram Il Re Leone CDC"
      >
        <i
          class="fa-brands fa-instagram fa-2xl"
          style="color: var(--p-primary-600)"
        ></i>
      </a>
      <a
        href="https://www.threads.net/@ilreleone.cdc"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Threads  Il Re Leone CDC"
      >
        <i class="fa-brands fa-threads fa-2xl" style="color: #000000"></i>
      </a>
      <a
        href="https://www.youtube.com/@oratorioperdiqua2537"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="YouTube Oratorio PerDiQua"
      >
        <i class="fa-brands fa-youtube fa-2xl" style="color: #ff0000"></i>
      </a>
    </div>

    <div class="texts">
      <a [routerLink]="'/home'">Home</a>
      <a [routerLink]="'/compagnia'">Chi siamo</a>
      <a [routerLink]="'/galleria'">Galleria</a>
      <a [routerLink]="'/eventi'">Eventi</a>
    </div>
  </div>
</div>
