$text-color: #373b3f;

.rubik-black-italic {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}

#footer {
  background-color: var(--oratorio-blue-50);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

  width: 100%;
  height: fit-content;
  padding: 10px;
  margin-top: 10px;
  border-top: 2px solid var(--oratorio-blue-200);
}

.logos-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  width: clamp(7.5rem, 5.8929rem + 8.0357vw, 18.75rem);
  justify-self: center;
  gap: 30px;
}

.card {
  width: 100%;
}

.cards {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 30px;
  padding: 1vw 2vw;
  .card-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    .card-info {
      p {
        font-size: smaller;
        color: $text-color;
      }
      #oratorio {
        color: var(--oratorio-blue-700);
      }
      #cdc {
        color: var(--oratorio-red-400);
      }
      #releone {
        color: var(--p-primary-600);
      }
      #musical {
        color: var(--p-accent-500);
      }
    }
    #card-oratorio {
      width: fit-content;
      margin-left: auto;
    }
    #card-leone {
      width: 100%;
      margin-right: auto;
    }
  }
}

// Footer-End
.footer-end {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $text-color;
  border: 2px solid red;

  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border: 2px solid green;
    p {
    }
  }
  .texts {
    padding: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid green;
  }
}
.social-media {
  border: 2px solid black;
  padding: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  a {
    text-decoration: none;
    &:hover i {
      transform: scale(1.1);
      transition: all 0.3s;
    }
  }
}
