// MOBILE
.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  background-color: var(--leone-orange-500);
  z-index: 10000;
  transition: width 0.2s ease-out;
}

.navbar-wrapper {
  position: sticky;
  z-index: 9999;
  top: 0;
  max-width: 100vw;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
  backdrop-filter: blur(50px);

  h3 {
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
  }

  &.scrolled {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    padding: 0.5rem;
    .spacer {
      img {
        height: 50px;
      }
      h3 {
        font-size: 1rem;
      }
    }
  }

  &.menuOpen {
    background-color: #ffffff;
  }
}

.spacer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 0.5rem;
  height: 60px;
  transition: all 0.4s ease-in-out;
  img {
    width: auto;
    height: inherit;
    transition: all 0.2s ease-in-out;
  }
  #span1 {
    color: var(--p-secondary-500);
  }
  #span2 {
    color: var(--p-highlight-500);
  }
  #span3 {
    color: var(--p-primary-500);
  }
}

// p-menubar-mobile
:host ::ng-deep .p-menubar.p-component.p-menubar-mobile {
  padding: 0;
  margin: 0;
  gap: 0;
}

// hamburger button
:host ::ng-deep .p-menubar-button {
  .icon {
    max-width: 3rem;
    width: 2.2rem;
    height: auto;
    transition: all 0.2s ease;
  }
  .i-times {
    transform: rotate(90deg);
  }
}

// region animazioni
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}
// endregion animation

// root list label primaria
:host ::ng-deep .p-menubar-mobile-active {
  .p-menubar-root-list {
    display: flex !important;
    z-index: 9999 !important;
    position: fixed;
    border-top: 1px solid #eeeeee;
    animation: slideInLeft 0.3s ease forwards;
  }
}

:host ::ng-deep .menu-anim-out {
  .p-menubar-root-list {
    animation: slideOutLeft 0.3s ease forwards;
  }
}

:host ::ng-deep .p-menubar-mobile .p-menubar-root-list {
  justify-self: center;
  background-color: rgba(255, 255, 255);
  gap: 0.3rem;
  span {
    color: #1f2937;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  .p-icon {
    color: #1f2937;
  }
}

:host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list > li {
  opacity: 0;
  animation: fadeSlideIn 0.4s ease forwards;
}
:host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list > li:nth-child(1) {
  animation-delay: 0.2s;
}
:host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list > li:nth-child(2) {
  animation-delay: 0.3s;
}
:host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list > li:nth-child(3) {
  animation-delay: 0.4s;
}
:host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list > li:nth-child(4) {
  animation-delay: 0.5s;
}
:host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list > li:nth-child(5) {
  animation-delay: 0.6s;
}
:host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list > li:nth-child(6) {
  animation-delay: 0.7s;
}
:host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list > li:nth-child(7) {
  animation-delay: 0.8s;
}

// submenu root-list
:host ::ng-deep .p-menubar-mobile .p-menubar-submenu {
}

:host ::ng-deep .p-menubar-submenu {
  animation: slideInDown 0.3s ease forwards;
  min-width: 8rem;
  .p-menubar-item-label {
    font-weight: 500 !important;
    font-size: 1.2rem !important;
  }
}

$top: 100px;
@media (max-width: 768px) {
  :host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list {
    /* Fissa il pannello in basso e a tutta larghezza */
    position: fixed !important;
    top: $top;
    left: 0;
    width: 100%;
    height: calc(100vh - #{$top}); /* regola in base al design */

    /* Sfondo e arrotondamento superiore */
    background: #fff;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; /* arrotonda gli angoli in alto */
    box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.2);

    /* Layout interno verticale */
    display: flex !important;
    flex-direction: column;
    padding-top: 3rem; /* spazio per l’handle */
    overflow-x: auto;

    -webkit-overflow-scrolling: touch; /* per lo scroll su iOS */
    scroll-behavior: smooth;

    transition: all 0.3s ease-in-out;

    /* Animazione di comparsa */
    animation: slideInUp 0.3s ease-out both;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  /* Handle di swipe in cima */
  :host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background: #1717171a;
    border-radius: 2px; /* arrotonda il handle */
  }
  :host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    background: #1717171a;
    border-radius: 2px; /* arrotonda il handle */
  }

  /* Ombra che segue il profilo del pannello */
  :host ::ng-deep .p-menubar-mobile-active .p-menubar-root-list {
    filter: drop-shadow(0 -4px 50px rgba(0, 0, 0, 0.1));
  }

  :host ::ng-deep .menu-anim-out {
    .p-menubar-root-list {
      animation: slideOutDown 0.3s cubic-bezier(0.76, 0.02, 0.93, 0.91) forwards;
    }
  }
}

// region TABLET
@media (min-width: 768px) {
}
// endregion

@media (min-width: 961px) {
  .spacer {
    img {
      height: 70px;
    }
  }

  :host ::ng-deep .p-menubar-root-list {
    justify-content: center;
    font-size: smaller;
    gap: 0;
    width: 100%;
    a:hover {
      color: var(--p-primary-600);
      transition: all 0.3s ease;
    }
  }
}

// region DESKTOP
@media (min-width: 1024px) {
  .spacer {
    h3 {
      line-height: 1;
    }
  }

  :host ::ng-deep .p-menubar-root-list {
    width: max-content;
  }
}
// endregion
