<div class="scroll-progress-bar" [style.width.%]="scrollProgress"></div>

<div
  class="navbar-wrapper"
  [ngClass]="{ scrolled: isScrolled, menuOpen: isMenuOpen, fixed: isHome }"
  id="navbar"
>
  <div
    class="spacer m-0 p-0"
    onclick="window.location.href='/home'"
    style="cursor: pointer"
  >
    <img
      class="m-0 p-0"
      src="../../../assets/oratorioSVG.svg"
      alt="Oratorio PerDiQua"
      id="logo-oratorio"
    />
    <h3 class="m-0 p-0">
      <span style="font-weight: 500">Oratorio </span>
      <span style="font-style: italic"
        ><span class="perdiqua" id="span1">Per</span
        ><span class="perdiqua" id="span2">Di</span
        ><span class="perdiqua" id="span3">Qua</span></span
      >
    </h3>
  </div>
  <p-menubar
    #menubar
    [model]="items"
    class="menubar"
    [class.menu-anim-out]="isAnimatingOut"
    [class.p-menubar-mobile-active]="isMenuOpen"
  >
    <ng-template pTemplate="start"> </ng-template>
    <ng-template pTemplate="menuicon">
      <button
        type="button"
        class="p-menubar-button p-link"
        (click)="toggleMenu()"
      >
        <img
          [ngClass]="
            isMenuOpen && !isAnimatingOut ? 'icon i-times' : 'icon i-bars'
          "
          [src]="
            isMenuOpen && !isAnimatingOut
              ? '../../../assets/times.svg'
              : '../../../assets/burger-menu.svg'
          "
        />
      </button>
    </ng-template>
  </p-menubar>
</div>
