<div class="hero-section">
  <div class="hero-content">
    <div class="logo-wrapper">
      <img src="../../../assets/oratorioSVG.svg" alt="Oratorio PerDiQua" />
    </div>

    <!-- <div class="hero-description">
      <p>
        Benvenuti all'Oratorio PerDiQua!
        <br />
        Qui puoi trovare un luogo di accoglienza, crescita e divertimento per
        tutti i bambini e ragazzi.
      </p>
    </div> -->

    <div class="panels grid nested-grid flex-column h-full w-full">
      <div class="col-12">
        <div class="grid nested-grid flex-row">
          <div class="col-6">
            <div class="grid flex-column">
              <div class="col-12">
                <p-card
                  class="card-grest p-component"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <ng-template #title>Grest</ng-template>
                </p-card>
              </div>
              <div class="col-12">
                <p-card
                  class="card-teatro p-component"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
                  <ng-template #title>Teatro</ng-template>
                </p-card>
              </div>
            </div>
          </div>
          <div class="col-6">
            <p-card
              class="card-oratorio p-component"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ng-template #title>Oratorio</ng-template>
            </p-card>
          </div>
        </div>
      </div>
      <div class="col-12">
        <p-card
          class="card-parrocchia p-component"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <ng-template #title>Parrocchia S. Biagio</ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
