<div class="title md:m-0">
  <h2>Contatti</h2>
</div>

<div class="p-4 mb-6">
  <p style="font-weight: 300">Non riesci a trovare quello che cerchi?</p>
  <p style="font-weight: 300; margin-top: 1.75rem">Hai una domanda da farci?</p>
</div>

<div class="card contatti">
  <div class="card-item telefono">
    <div class="circle whatsapp">
      <i class="fa-brands fa-whatsapp fa-xl" style="color: #fff"></i>
    </div>
    <a class="value hover:underline" href="callto:+393332378994"
      >+39 333 237 8994</a
    >
  </div>
  <div class="card-item email">
    <div class="circle email">
      <i class="fa-solid fa-envelope fa-lg" style="color: #fff"></i>
    </div>
    <a class="value hover:underline" href="mailto:info@oratorioperdiqua.it"
      >info&#64;oratorioperdiqua.it</a
    >
  </div>
  <div class="card-item address">
    <div class="circle map">
      <i class="fa-solid fa-map-marker-alt fa-lg" style="color: #fff"> </i>
    </div>
    <a
      class="value hover:underline"
      href="https://maps.app.goo.gl/3drDnKyNWt4CPLsVA"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Indicazioni Oratorio PerDiQua"
      >Via Maria Mattia Pierini 5, <br />
      06012, Cerbara, PG</a
    >
  </div>
  <div class="card-item social flex gap-4">
    <div
      class="card-subitem flex align-items-center justify-content-center gap-1"
    >
      <i class="fa-brands fa-facebook fa-xl" style="color: #1877f2"></i>
      <a
        class="value"
        href="https://www.facebook.com/oratorioperdiqua"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Facebook Oratorio PerDiQua"
        >Facebook</a
      >
    </div>
    <div
      class="card-subitem flex align-items-center justify-content-center gap-1"
    >
      <i class="fa-brands fa-instagram fa-xl" style="color: #e1306c"></i>
      <a
        class="value"
        href="https://www.instagram.com/oratorioperdiqua/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram Oratorio PerDiQua"
        >Instagram</a
      >
    </div>
  </div>
</div>

<div class="contact-container p-4">
  <h2>CONTATTACI</h2>
  <h5>Compila il modulo qua sotto!</h5>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="formgrid grid p-fluid"
  >
    <div class="field col-12 md:col-6">
      <p-floatlabel>
        <input pInputText id="nome" type="text" formControlName="nome" />
        <label for="nome">Nome*</label>
      </p-floatlabel>
      <p-message
        [life]="3000"
        severity="error"
        variant="simple"
        size="small"
        text="Il nome è obbligatorio"
        *ngIf="form.controls['nome'].invalid && form.controls['nome'].touched"
      ></p-message>
    </div>
    <div class="field col-12 md:col-6">
      <p-floatlabel>
        <input pInputText id="cognome" type="text" formControlName="cognome" />
        <label for="cognome">Cognome*</label>
      </p-floatlabel>
      <p-message
        [life]="3000"
        severity="error"
        variant="simple"
        size="small"
        text="Il cognome è obbligatorio"
        *ngIf="
          form.controls['cognome'].invalid && form.controls['cognome'].touched
        "
      ></p-message>
    </div>
    <div class="field col-12">
      <p-floatlabel>
        <input pInputText id="email" type="text" formControlName="email" />
        <label for="email">Email*</label>
      </p-floatlabel>
      <p-message
        [life]="3000"
        severity="error"
        variant="simple"
        size="small"
        text="L'email è obbligatoria"
        *ngIf="form.controls['email'].invalid && form.controls['email'].touched"
      ></p-message>
    </div>
    <div class="field col-12">
      <p-floatlabel
        ><p-select
          [options]="opzioniOggetto"
          formControlName="oggetto"
          optionLabel="label"
          optionValue="value"
          variant="filled"
        ></p-select>
        <label for="oggetto">Oggetto*</label></p-floatlabel
      >
      <p-message
        [life]="3000"
        severity="error"
        variant="simple"
        size="small"
        text="Inserisci un oggetto"
        *ngIf="
          form.controls['oggetto'].invalid && form.controls['oggetto'].touched
        "
      ></p-message>
    </div>
    <div class="field col-12">
      <p-floatlabel>
        <textarea
          pInputTextarea
          id="messaggio"
          rows="8"
          formControlName="messaggio"
        ></textarea>
        <label for="messaggio">Messaggio*</label>
      </p-floatlabel>
      <p-message
        [life]="3000"
        severity="error"
        variant="simple"
        size="small"
        text="Il messaggio è obbligatorio"
        *ngIf="
          form.controls['messaggio'].invalid &&
          form.controls['messaggio'].touched
        "
      ></p-message>
    </div>
    @if (this.inviato && !this.errore){
    <div class="flex w-max justify-content-center">
      <p-message
        size="small"
        variant="simple"
        severity="success"
        text="Ti ringraziamo per averci contattato, ti risponderemo al più presto!"
        [life]="10000"
        styleClass="flex justify-content-center text-center"
      ></p-message>
    </div>
    }
    <div class="field col-12 justify-content-center flex">
      <button
        pButton
        type="submit"
        label="Invia"
        iconPos="left"
        icon="pi pi-send"
        [severity]="'primary'"
        [disabled]="!form.valid"
        [class]="
          form.valid
            ? 'p-button-rounded p-button-raised'
            : 'p-button-rounded p-button-outlined'
        "
      ></button>
    </div>
  </form>
  <p-toast position="top-center" [life]="10000" [baseZIndex]="10000"></p-toast>
</div>
