:host {
  display: block;
  margin: 2rem auto;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
}

h5 {
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: var(--p-secondary-500);
}

.formgrid {
  margin-top: 1rem;
  gap: 0.75rem 0;
}

:host ::ng-deep .p-message {
  margin-top: 0.25rem;
}

:host ::ng-deep .p-floatlabel {
  width: 100%;
  label {
    font-weight: 300;
    color: #9a9a9a;
    font-style: italic;
  }
}

input,
textarea,
.p-select {
  font-weight: 400;
  border: 1px solid #eee;
  border-radius: 0.6rem;
  width: inherit;
}

:host ::ng-deep .p-inputtext {
  width: inherit;
}

:host ::ng-deep .p-select-dropdown {
  color: #9a9a9a;
}

input {
  height: 3rem;
}

.p-button {
  justify-self: center;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
}

.p-button-raised {
  background: var(--p-secondary-500);
  border-color: var(--p-secondary-500);
}

.p-button-outlined {
  color: var(--p-secondary-500);
  border-color: var(--p-secondary-500);
}

.p-button:not(:disabled):active {
  background: var(--p-secondary-600);
  border-color: var(--p-secondary-600);
}

.p-button:not(:disabled):hover {
  background: var(--p-secondary-400);
  border-color: var(--p-secondary-400);
}

:host ::ng-deep .p-toast {
  z-index: 100000;
  width: 90%;
}

:host ::ng-deep .p-select-list {
  background: #ffffff;
}

.card {
  &.contatti {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 1.5rem;
    margin: 3rem 1rem;
    padding: 1.5rem;
  }
}

.card-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  &.address,
  &.email {
    font-size: 0.9rem;
  }
  &.social {
    justify-content: space-around;
  }
}

.card-item > *:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  &.whatsapp {
    background: #25d366;
  }
  &.email {
    background: var(--p-primary-500);
  }
  &.map {
    background: var(--p-highlight-500);
  }
}

// TABLET
