<!-- <app-hero></app-hero> -->

<div>
  <div class="title">
    <h2 class="animate__animated animate__rubberBand animate__repeat-2">
      Benvenuti
    </h2>
  </div>
</div>

<div class="subtitle">
  <h3 class="text-center" data-aos="fade-up">CHI SIAMO</h3>
</div>

<div class="cards-container">
  @for (card of cards; track $index) {
  <div class="card-wrapper" data-aos="fade-up">
    <p-card class="card {{ card.class }}">
      <ng-template pTemplate="header">
        <div class="img-container">
          <img
            src="{{ card.headerImg }}"
            alt="card.title"
            class="parallax-img"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="title">{{ card.title }}</ng-template>
      <ng-template pTemplate="subtitle">{{ card.subtitle }}</ng-template>
      <ng-template pTemplate="content"
        ><p>
          {{ card.content }}
        </p></ng-template
      >
      <ng-template pTemplate="footer">
        <p-button
          label="Scopri di più"
          icon="pi pi-info-circle"
          class="p-button-outlined"
          severity="info"
          [routerLink]="'{{card.routerlink}}'"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
  }
</div>
<div class="subtitle">
  <h3 data-aos="fade-up" class="text-center">PROSSIMAMENTE</h3>
</div>
<div class="cards-container">
  <p-card class="card lib">
    <ng-template pTemplate="header">
      <img
        src="../../../assets/libverde.jpg"
        alt="Libreria Verde"
        id="lib-img"
      />
    </ng-template>
    <ng-template pTemplate="title">Libreria Verde</ng-template>
    <ng-template pTemplate="content"
      ><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt quisquam repellat libero
        asperiores earum nam nobis, culpa ratione quam perferendis esse,
        cupiditate neque quas!
      </p></ng-template
    >
    <ng-template pTemplate="footer">
      <p-button
        label="Scopri di più"
        icon="pi pi-info-circle"
        class="p-button-outlined"
        severity="info"
        [routerLink]="'/libreriaverde'"
      ></p-button>
    </ng-template>
  </p-card>
</div>
