// region MOBILE
.cards-container {
  // border-radius: 3rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card-wrapper {
  border-radius: 2rem;
}

:host ::ng-deep .p-card {
  display: flex;
  justify-self: center;
  width: 100%;
  height: fit-content;
  border-radius: 2rem;
  overflow: hidden;
  max-height: fit-content;
  box-shadow:
    0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

:host ::ng-deep .p-card-header {
  // header
  // border-radius: 1.5rem 1.5rem 0 0;
  padding: 1rem 1.75rem 0;
  .img-container {
    overflow: hidden;
    height: 12rem;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    img {
      justify-self: center;
      border-radius: inherit;
      transform: translateY(22px) scale(1.2);
    }
  }
}

.parallax-img {
  transition: transform 0.1s ease-out;
  will-change: transform;
}

:host ::ng-deep .p-card-body {
  // body
  // border-radius: 0 0 1rem 1rem;
  padding: 1rem 2rem 2rem;
}

:host ::ng-deep .p-card-title {
  // titolo
  font-weight: 800;
  font-style: italic;
  font-size: 1.5rem;
}

:host ::ng-deep .p-card-subtitle {
  // sotto-titolo
}

:host ::ng-deep .p-card-content {
  // paragrafo
  color: #000;
  font-weight: 400;
  font-size: 13px;
}

:host ::ng-deep .p-card-footer {
  // footer
  display: flex;
  justify-content: center;
  display: none;
}

::ng-deep .card.oratorio .p-card-title {
  color: var(--p-secondary-500);
}
::ng-deep .card.oratorio .p-card-subtitle {
  color: var(--p-primary-500);
}

::ng-deep .card.leone .p-card-title {
  color: var(--leone-yellow-500);
}
::ng-deep .card.leone .p-card-subtitle {
  color: var(--leone-red-500);
}

::ng-deep .card.lib .p-card-title {
  color: var(--verde-500);
}

::ng-deep .card.lib .p-card-header {
  padding: 0;

  img {
    filter: blur(1px);
  }
}

// endregion

// region TABLET
@media (min-width: 768px) {
  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-wrapper {
    width: 40%;
  }
}
// endregion

// region DESKTOP
@media (min-width: 1024px) {
  :host ::ng-deep .p-card-header {
    overflow: visible;
    .img-container {
      height: 20rem;
      padding: 10px;
      border-bottom: 2px solid black;
      img {
        justify-self: center;
        border-radius: inherit;
        transform: translateY(0);
      }
    }
  }
}
// endregion
