/* You can add global styles to this file, and also import other style files */
/* ✅ Reset CSS base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // Fucsia
  --oratorio-red-50: #fdeaf0;
  --oratorio-red-100: #fbcfdc;
  --oratorio-red-200: #f69db8;
  --oratorio-red-300: #f06895;
  --oratorio-red-400: #e73875;
  --oratorio-red-500: #d60b52;
  --oratorio-red-600: #b10945;
  --oratorio-red-700: #8b0738;
  --oratorio-red-800: #66052b;
  --oratorio-red-900: #41031e;

  // Blu
  --oratorio-blue-50: #eaf7fc;
  --oratorio-blue-100: #d0effb;
  --oratorio-blue-200: #a6def7;
  --oratorio-blue-300: #7dcef2;
  --oratorio-blue-400: #55bdea;
  --oratorio-blue-500: #009fe3;
  --oratorio-blue-600: #008fcc;
  --oratorio-blue-700: #007bb2;
  --oratorio-blue-800: #006699;
  --oratorio-blue-900: #004d73;

  // Arancio
  --oratorio-orange-50: #fdf4e5;
  --oratorio-orange-100: #fbdeb2;
  --oratorio-orange-200: #f9c87f;
  --oratorio-orange-300: #f7b24c;
  --oratorio-orange-400: #f49c19;
  --oratorio-orange-500: #f39200;
  --oratorio-orange-600: #d07d00;
  --oratorio-orange-700: #ad6800;
  --oratorio-orange-800: #8a5300;
  --oratorio-orange-900: #683e00;

  // Palette verde
  --verde-50: #eaf4f1;
  --verde-100: #d3e8e0;
  --verde-200: #aad1c1;
  --verde-300: #80b9a2;
  --verde-400: #569f89;
  --verde-500: #40806b;
  --verde-600: #396f5e;
  --verde-700: #325f51;
  --verde-800: #294d42;
  --verde-900: #1e3931;
}

/* ✅ Font e tipografia base */
body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--p-surface);
}

body::-webkit-scrollbar {
  display: none;
}

/* ✅ Migliorie generiche */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  border-radius: 6px;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

/* ✅ Focus visibile per accessibilità */
:focus-visible {
  outline: 2px dashed #f4b400;
  outline-offset: 3px;
}
