<div class="title md:m-0">
  <h2>Scopri il Cast</h2>
</div>

<div class="flex cards-wrapper md:flex-row align-items-center">
  @for (card of cast; track $index) {
  <p-card
    class="card face-front flip-card block w-full max-w-20rem"
    [class.flipped]="card.isFlipped"
    (swipeleft)="card.isFlipped = !card.isFlipped"
    (swiperight)="card.isFlipped = !card.isFlipped"
  >
    <ng-template #header>
      <div class="img-wrapper flex justify-content-center overflow-hidden">
        <img
          class="w-full max-h-15rem overflow-hidden actor-img"
          [src]="card.photo"
          [alt]="card.name + ' ' + card.surname"
          [class.hidden]="card.isFlipped"
          (swipeleft)="card.isFlipped = !card.isFlipped"
          (swiperight)="card.isFlipped = !card.isFlipped"
        />
        <img
          class="w-full max-h-15rem overflow-hidden char-img"
          [src]="card.charPhoto"
          [alt]="card.char"
          [class.hidden]="!card.isFlipped"
        />
      </div>
    </ng-template>
    <ng-template #title>
      @if (!card.isFlipped){
      <span class="name" style="color: var(--leone-red-500); font-weight: 700"
        >{{ card.name.toUpperCase() }}
      </span>
      <span style="font-weight: 300; font-size: smaller; font-style: italic">{{
        card.surname
      }}</span>
      }@else {
      <span style="color: var(--leone-blue-500); font-weight: 700">{{
        card.char.toUpperCase()
      }}</span>
      }
    </ng-template>
    <ng-template #subtitle
      ><span class="font-light">{{
        card.isFlipped ? card.charRole : card.role
      }}</span>
    </ng-template>
    <ng-template #content>
      <blockquote class="text-center mt-2">
        "{{ card.isFlipped ? card.charQuote : card.quote }}"
      </blockquote></ng-template
    >
  </p-card>
  }
</div>
